.main_bar 
  .main_bar__current_group 
    .main_bar__current_group__top_items
      .main_bar__current_group__top_items__group
        .main_bar__current_group__top_items__group__name
          = @group.name
        .main_bar__current_group__top_items__group__member
          - @group.users.each do |member|        
            =  member.name
      .main_bar__current_group__top_items__edit        
      = link_to edit_group_path(@group.id), class: "main_bar__current_group__top_items__edit__icon" do
        Edit
      
  .main_bar__chat
    = render @messages

  .main_bar__message
    .main_bar__message__top_item
    = form_for [@group, @message], html: { class: 'main_bar__message__top_item'} do |f|
      .main_bar__message__top_item__message
        = f.text_field :content, class: 'main_bar__message__top_item__message__form', placeholder: 'type a message'
        = f.label :image, class: 'main_bar__message__top_item__message__icon' do 
          = icon('far', 'image', class: "main_bar__message__top_item__message__icon__body")  
          = f.file_field :image, class: 'main_bar__message__top_item__message__icon__image'    
      = f.submit 'Send', class: 'main_bar__message__top_item__send'       